*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #222;
    color: white;
}

html{
    font-family: sans-serif;
}

.mytitle{
    display: flex;
    justify-content: center;
    color: aqua;
    font-size: 100px;
}

.mystamp{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 1rem;
    width: 70%;
}

.mysquare,
.myfizz,
.mybuzz,
.myfizzbuzz{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 171px;
    height: 171px;
    margin: 1rem;
    font-size: 20px;
    font-weight: 600;
}

.mysquare{
    background-color: crimson;
}
.myfizz{
    background-color: aquamarine;
}

.mybuzz{
    background-color: goldenrod;
}

.myfizzbuzz{
    background-color: forestgreen;
}

